@import 'kenga/layout.css';

.p-flow {
    white-space: normal;
}

.p-flow > .p-widget {
    vertical-align: bottom;
}

.p-cards > .p-widget,
.p-tabs-content > .p-widget {
    width: 100%;
    height: 100%;
}

.p-tabs {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.p-tabs-captions-shell,
.p-tabs-content {
    display: inline-flex;
}

.p-tabs-captions-shell {
    order: 1;
}

.p-tabs-content {
    order: 2;
    flex: 1 1;
    min-height: 0;
}

.p-tabs-captions,
.p-tabs-captions-shell {
    position: relative;
}

.p-tab-caption {
    display: inline-block;
    line-height: normal;
}

.p-tab-caption > .p-tab-caption-image {
    display: inline-block;
    vertical-align: middle;
}

.p-tab-caption-text {
    display: inline-block;
    vertical-align: middle;
}

.p-tab-caption-close-tool {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.p-tab-caption-close-tool::after {
    content: 'x';
}

.p-tab-caption-selected {
}

.p-cells > .p-widget {
    background-clip: content-box;
    vertical-align: middle;
}

.p-anchors > .p-widget {
    position: absolute;
}

.p-anchors {
}

.p-box-horizontal {
    overflow-x: auto;
    white-space: nowrap;
}

.p-box-horizontal::after {
    height: 100%;
    width: 0px;
    content: ' ';
    display: inline-block;
    vertical-align: middle;
}

.p-box-vertical {
    overflow-y: auto;
    white-space: normal;
    display: inline-flex;
    flex-direction: column;
}

.p-box-vertical > .p-widget {
    flex: 0 0 auto;
}

.p-scroll > .p-widget {
    position: absolute;
    left: 0px;
    top: 0px;
}

.p-scroll > .p-scroll {
    position: relative; /* case of scroll in scroll or TextArea/RichTextArea in scroll*/
}

.p-scroll > .p-vertical-scroll-filler {
    height: 100%
}

.p-scroll > .p-horizontal-scroll-filler {
    width: 100%
}

.p-toolbar,
.p-tabs-captions {
    overflow-x: hidden;
    white-space: nowrap;
}

.p-toolbar-chevron,
.p-tabs-chevron {
    position: absolute;
    display: inline-block;
    top: 0px;
    height: 100%;
    width: 20px;
}

.p-toolbar-chevron-left,
.p-tabs-chevron-left {
    left: 0px;
}

.p-toolbar-chevron-right,
.p-tabs-chevron-right {
    right: 0px;
}

.p-holy-grail-column {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.p-holy-grail-row {
    display: inline-flex;
    min-height: 0;
    flex-direction: row;
    flex-wrap: nowrap;
}

.p-holy-grail-column > .p-holy-grail-header,
.p-holy-grail-column > .p-holy-grail-footer,
.p-holy-grail-row > .p-holy-grail-left,
.p-holy-grail-row > .p-holy-grail-content,
.p-holy-grail-row > .p-holy-grail-right {
    display: inline-block;
}

.p-holy-grail-column > .p-holy-grail-column,
.p-holy-grail-row > .p-holy-grail-column {
    display: inline-flex;
}

.p-holy-grail-column > .p-holy-grail-row {
  display: inline-flex;
}

.p-holy-grail-column > .p-tabs,
.p-holy-grail-row > .p-tabs {
    display: inline-flex;
}

.p-holy-grail-column > .p-box-vertical,
.p-holy-grail-row > .p-box-vertical {
    display: inline-flex;
}

.p-holy-grail-column > .p-holy-grail-header,
.p-holy-grail-row > .p-holy-grail-left {
    order: 1;
}

.p-holy-grail-column > .p-holy-grail-row,
.p-holy-grail-row > .p-holy-grail-content {
    order: 2;
    flex: 1 1;
}

.p-holy-grail-row > .p-holy-grail-content {
    min-width: 0;
}

.p-holy-grail-column > .p-holy-grail-footer,
.p-holy-grail-row > .p-holy-grail-right {
    order: 3;
}

.p-split-horizontal > .p-split-divider {
    width: 10px;
    margin-left: -5px;
    z-index: 1;
}

.p-split-vertical > .p-split-divider {
    height: 10px;
    margin-top: -5px;
    z-index: 1;
}
